:root {
  --bg: #009ddc;
  --bt: #ce9c77;
  --wrt: #2e294e;
}
html {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  height: 100%;
}
.panel {
  background: white;
  width: 100%;
  max-width: max-content;
  color: var(--wrt);
  padding: 15px 25px;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}
.pricing-plan {
  border-bottom: 1px solid rgb(168, 163, 163);
}
.pricing-img {
  margin-bottom: 10px;
  max-width: 100vw;
}
.pricing-header {
  color: var(--bg);
  letter-spacing: 1px;
  font-weight: 600px;
}
.pricing-features {
  margin: 50px 25px;
}
a {
  color: var(--bt);
  font-weight: 600px;
}
.pricing-features-item {
  letter-spacing: 1px;
  font-weight: 600px;
  font-size: 12px;
  line-height: 2;
  border-top: 1px solid #bdd4e7;
}
.pricing-price {
  font-size: 32px;
  display: block;
  margin: 10px;
}
.pricing-button {
  border: 1px solid inherit;
  margin: 10px;
  display: inline-block;
  max-width: max-content;
  padding: 10px;
  border-radius: 10px;
  font-size: 35px;
  background-color: var(--bg);
  color: white;
}
@media (max-width: 1280px) {
  html {
    height: auto;
  }
  .panel {
    flex-direction: column;
    padding: 0px;
  }
  .pricing-plan:last-child {
    border: none;
  }
}
